<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ResteurantPos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6506EC251C72523900208E47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6506EC3C1C72523900208E47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6506EC471C72523900208E47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B7317F1C7AE7D00071D42C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
